# cache
*__pycache__
poetry_cache
*.mypy_cache
.vscode

# dev
build
dist
project_files
.venv
swirl/bin
swirl/cache
swirl/env
swirler.spec
diagrams

# tests
tests/__init__.py
tests/cache
tests/scratch.py
tests/scratch2.py
tests/swirler.py
*.rar
